@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot") format("embedded-opentype"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg?") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-account:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-call:before {
  content: "\e902";
}

._icon-cart:before {
  content: "\e903";
}

._icon-clock:before {
  content: "\e904";
}

._icon-email:before {
  content: "\e905";
}

._icon-favourites:before {
  content: "\e906";
}

._icon-icon:before {
  content: "\e907";
}

._icon-Logo-header:before {
  content: "\e908";
}

._icon-scales:before {
  content: "\e909";
}

._icon-search:before {
  content: "\e90a";
}

._icon-star:before {
  content: "\e90b";
}

body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.header__top {
  background-color: #141414;
  color: #fff;
}
.top-header {
  padding: 10px 5px;
}
.top-header__container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 50px;
}
.top-header__menu {
  flex: 1 1 auto;
}
.top-header__user {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 122.2222222222%;
}
.top-header__user::before {
  font-size: 28px;
  margin: 0px 15px 0px 0px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 770px) {
  .menu__list {
    gap: 30px;
  }
}
@media (max-width: 685px) {
  .menu__list {
    gap: 15px;
  }
}
@media (max-width: 625px) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  font-size: 16px;
  color: #fff;
  line-height: 125%;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
}